@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
  src: url("../fonts/OpenSans-Italic.ttf");
  src: url("../fonts/OpenSans-Bold.ttf");
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf");
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fugaz One";
  src: url("../fonts/FugazOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arsenal";
  src: url("../fonts/Arsenal-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}