@import "style.css";

:root {
  --menu__link-color: var(--kidnapper);
  --menu__link-bg-color: var(--blue-bayoux);
}

body {margin: 0;padding: 0;font-family: sans-serif;}

.menu__list {
  display: flex;
}

.menu__item {
  list-style: none;
}

.menu__link {
  position: relative;
  display: block;
  padding: 5px 10px;
  color: var(--menu__link-color);
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
}

.menu__link:before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: -100%;
  width: 100%;
  height: 4px;
  background: var(--menu__link-bg-color);
  transition: 0.5s;
}

.menu__link:hover {
  color: #fff;
}

.menu__link:hover::before {
  animation: animate .5s linear forwards;
}

@keyframes animate {
  0% {
    top: calc(50% - 2px);
    left: -100%;
    height: 4px;
    z-index: 1;
  }
  50% {
    top: calc(50% - 2px);
    left: 0;
    height: 4px;
    z-index: 1;
  }
  100% {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}