@import url('https://fonts.googleapis.com/css?family=Open+Sans|Prosto+One|Scada');

:root {
  --black-pearl: #0e1e31;
  --catalina-blue: #2f455d;
  --blue-bayoux: #717a7d;
  --kidnapper: #bbbbb3;
  --alabaster: #f2f1ec;
}

body {
  margin: 0;padding: 0;
}

* {
  /*box-sizing: border-box;*/
  font-family: "Open Sans", Arial, sans-serif;
}
