@import "fonts.css";
:root {
  --black-pearl: #0e1e31;
  --catalina-blue: #2f455d;
  --blue-bayoux: #717a7d;
  --kidnapper: #bbbbb3;
  --alabaster: #f2f1ec;

  --jungle-mist: #BBC6C7;
}

body {
  margin: 0;padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
}