@import "../../style.css";

:root {
  --button-bg-color: var(--summer-sky);
  --button-text-color: var(--summer-sky);
  --button-border-color: var(--summer-sky);
  --button-bg-hover-focus-color: var(--summer-sky);
  --button-border-hover-focus-color: var(--summer-sky);
  --button-focus-color: var(--kidnapper);
  --button-bg-active-color: var(--alabaster);
  --button-hover-focus-text-color: var(--summer-sky);
}

* {
  box-sizing: border-box;
}

.button {
  display: block;
  padding: 0 0.75em;
  margin: 0;
  max-width: 100%;
  width: 12em;
  height: 3.5em;
  border: 2px solid var(--button-border-color);
  border-radius: 0.5em;

  background: var(--button-bg-color);
  color: #ffffff;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 1.5em;
  text-decoration: none;
  letter-spacing: 0.025em;
  white-space: nowrap;
  cursor: pointer;
}

.button:hover, .button:focus {
  background: #ffffff;
  border: 2px solid var(--button-border-hover-focus-color);
  color:  var(--button-hover-focus-text-color);
  transition: All 0.5s ease;
}

.button:focus {
  outline: none;
}

.button:active {
  background: var(--button-bg-active-color);
}