@import "../../style.css";

:root {
  --input-bg-color: var(--kidnapper);
  --input-text-color: var(--black-pearl);
  --input-border-color: var(--summer-sky);
  --input-border-outline-color: var(--summer-sky);
  --input-border-active-color: var(--summer-sky);
  --input-border-hover-color: var(--summer-sky);
}

.input__item {
  box-sizing: border-box;
  padding: 0 0.75em;
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: 2.75em;
  border: 1px solid var(--input-border-color);
  border-radius: 0.5em;

  background: #ffffff;
  color: var(--input-text-color);
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 2.5em;
}

.input__item_textarea {
  height: 9.5em;
}

.input__item:hover {
  border: 2px solid var(--input-border-hover-color);
}

.input__item:focus {
  outline: 2px solid var(--input-border-outline-color);
}

.input__item:active {
  border: 2px solid var(--input-border-active-color);
}