<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../../css/block-name-of-company.css">
</head>
<body>
  <div class="block-name-of-company">
    <span class="block-name-of-company__title">люксгорстрой</span>
    <div class="block-name-of-company__card">
      <h3 class="card-title">Ремонт и строительство</h3>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi eius harum iure sed.
        Vel.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi eius harum iure sed. Vel.</p>
    </div>
  </div>
</body>
</html>