<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../../css/form-application.css">
  <link rel="stylesheet" href="../../css/button.css">
  <link rel="stylesheet" href="../../css/input.css">
</head>
<body>
  <form class="form-application" action="mailto:luxgorstroy@gmail.com" enctype="text/plain">
    <fieldset class="form-application__fieldset">
      <p><input class="input__item" type="text" autocomplete="off" placeholder="Ваше имя *" required></p>
      <p><input class="input__item" type="email" autocomplete="off" placeholder="Email *" required></p>
      <p><input class="input__item" type="tel" autocomplete="off" placeholder="Ваш телефон"></p>
      <textarea class="input__item input__item_textarea" cols="100" rows="10" placeholder="Ваше сообщение *" required></textarea>
      <p>
        <button class="button" type="submit">Отправить</button>
      </p>
    </fieldset>
  </form>
</body>
</html>