<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Header</title>
  <link rel="stylesheet" href="./../../css/header.css">
</head>
<body>
<header class="header">
  <div class="header-hero-bg">
    <div class="header-options">
      <div class="header-logo"></div>
      <nav class="menu header__menu">
        <ul class="menu__list">
          <li class="menu__item"><a class="menu__link" href="#">главная</a></li>
          <li class="menu__item"><a class="menu__link" href="#">услуги</a></li>
          <li class="menu__item"><a class="menu__link" href="#">галерея</a></li>
          <li class="menu__item"><a class="menu__link" href="#">вакансии</a></li>
          <li class="menu__item"><a class="menu__link" href="#">контакты</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-title">
      <div class="header-title__logo"><img src="./../../img/logo-company.png" alt="logo" width="120px" height="120px"></div>
      <h1 class="header-title__name-of-company">Люксгорстрой</h1>
      <hr class="header-title__line">
      <span class="header-title__slogan">ремонт и строительство</span>
    </div>
  </div>
</header>
</body>
</html>