<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../../css/menu.css">
</head>
<body>
  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__item"><a class="menu__link" href="#">главная</a></li>
      <li class="menu__item"><a class="menu__link" href="#">услуги</a></li>
      <li class="menu__item"><a class="menu__link" href="#">галерея</a></li>
      <li class="menu__item"><a class="menu__link" href="#">аренда</a></li>
      <li class="menu__item"><a class="menu__link" href="#">контакты</a></li>
    </ul>
  </nav>
</body>
</html>