@import "./../style.css";

:root {
  --about-company-bg-color: var(--blue-bayoux);
  --title-color: var(--black-pearl);
}

.about-company-bg-top {
  width: 100%;
  max-width: 100%;
  height: 25em;
  background-image: url("./../../img/bg1.jpg");
  background-size: cover;
}

.about-company-bg-top::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 25em;
  background: #000000;
  opacity: 0.5;
}

.about-company-options {
  position: relative;
  padding: 1.8em 3.125em;
}

.about-company__box {
  display: block;
  position: absolute;
  top: -9em;
  left: 2em;
}

.box__title {
  padding-top: 6em;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--title-color);
}

.about-company-info {
  line-height: 1.8em;
}

.about-company__block-for-float {
  width: 20em;
  height: 10em;
  position: relative;
  float: left;
}

.footer {
  clear: left;
}

@media (max-width: 812px) {
  .about-company-bg-top {
    height: 15em;
  }

  .box__title {
    padding-top: 7em;
    font-size: 1.5em;
  }

  .about-company-bg-top::after {
    height: 15em;
  }
}

@media (max-width: 768px) {
  .about-company-bg {
    height: 11.25em;
  }

  .about-company__block-for-float {
    display: none;
  }

  .about-company__box {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .about-company-options {
    padding: 10.5em 0.95em 1.8em;
  }
}